div(class="modal")
    div(class="modal-backdrop")
    div(class="modal-wrapper w-11/12 md:w-5/12")
        div(class="modal-body")
            div(class="modal-header") {{ title }}

            div(class="modal-content markdown" ref="content")
                div(v-html="contents")


            div(class="modal-footer")
                button(class="btn ml-auto" @click="close") {{ 'close' | translate }}