div(class="w-full")
    div(class="flex-row mb-4")
        div(class="col w-full md:w-1/5")
            label() Aktivera för enskilda
            div(class="input-group" class="w-full")
                input-checkbox(v-model:value="config.singleEnabled")
    
        div(class="col w-full md:w-1/5")
            label() Aktivera för grupper
            div(class="input-group" class="w-full")
                input-checkbox(v-model:value="config.groupEnabled")

        div(class="col w-full md:w-1/5")
            label() Visa ej validerade
            div(class="input-group" class="w-full")
                input-checkbox(v-model:value="config.showInvalid")

        div(class="col w-full md:w-1/5")
            label() Sufux
            div(class="input-group" class="w-full")
                input-text(v-model:value="config.invalidSufix" :placeholder="'Lägg till sufix'" :usePlaceholderIfEmpty="true")

        div(class="col w-full md:w-1/5")
            label() Valideringsmängd
            div(class="input-group" class="w-full")
                input(class="border-2 p-2 rounded w-full" type="number" v-model="config.minimumContentLength")

    fallbacks(:fallbacks="config.defaultFallbacks")