layout()
    div(class="p-4 flex flex-wrap")
        div(class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full")
            div(class="w-full")
                collapse(class="w-full" :title="$filters.translate('triggerCouchpotato')" :openAtRender="true")
                    div(class="w-full")
                        widget-run-couchpotato()
            div(class="w-full")
                collapse(class="mb-4 w-full" :title="'Lokala resurser'" :openAtRender="true")
                    div(class="w-full")
                        widget-check-local-connection()

                collapse(class="w-full" :title="'Cron'" :openAtRender="true")
                    div(class="w-full")
                        widget-check-cron()

            div(class="w-full")
                collapse(class="mb-4 w-full" :title="'Couchpotatoversion'" :openAtRender="true")
                    div(class="w-full")
                        widget-check-couchpotato-version()

                collapse(class="mb-4 w-full" :title="'Senaste körningen'" :openAtRender="true")
                    div(class="w-full")
                        widget-last-run-log()