div(class="flex")
    div(class="w-full")
        div(class="w-full px-4 text-left")
            label() Aktivera komprimering
            div(class="input-group" class="w-full")
                input-checkbox(v-model="config.compress")