div(class="modal")
    div(class="modal-backdrop")
    div(class="modal-wrapper w-11/12 md:w-6/12")
        div(class="modal-body")
            div(class="modal-header") {{ title }}

            div(class="modal-content" ref="content")
                table(class="w-full table-auto border border-gray-300 bg-white")
                    thead()
                        tr(class="border-b border-gray-300 bg-gray-300")
                            th(class="px-4 py-2 whitespace-no-wrap text-md text-left leading-5") {{ 'name' | translate }}
                            th(class="px-4 py-2 whitespace-no-wrap text-md text-left leading-5" colspan="2") {{ 'value' | translate }}
                            
                    tbody()
                        tr(class="border-b border-gray-300" v-for="(item, index) in settingsList" :key="uniqueId()")
                            td( class="px-4 py-2 whitespace-no-wrap truncate")
                                input-text(class="w-full" v-model="item.key")
                            td( class="px-4 py-2 whitespace-no-wrap flex") 
                                input-text(class="w-full" v-model="item.value")
                                button(class="ml-2" @click="editJsonFile(item.value)" v-if="item.isConfigFilePath")
                                    font-awesome-icon(icon="edit")
                            td()
                                button(@click="onDelete(index)")
                                    span(class="mr-1")
                                        font-awesome-icon(icon="trash")
                        tr(class="border-b border-gray-300 bg-gray-100")
                            td( class="px-4 py-2 whitespace-no-wrap truncate")
                                input-text(class="w-full" v-model="newSetting.key")
                            td( class="px-4 py-2 whitespace-no-wrap") 
                                input-text(class="w-full" v-model="newSetting.value")
                            td()
                                button(@click="onAdd()")
                                    span(class="mr-1")
                                        font-awesome-icon(icon="plus")

            div(class="modal-footer")
                button(class="btn" @click="cancel" :disabled="isPending") {{ 'cancel' | translate }}
                button(class="btn ml-auto" @click="save" :disabled="isPending") {{ 'save' | translate }}