div()
    div(class="w-full")
        div(class="flex-row mb-4")
            div(class="col w-full")
                label() Standardgrupp
                div(class="input-group" class="w-full")
                    input-text(v-model:value="config.defaultGroup")

    full-group-include(:config="config.groups")