div(class="flex")
    div(class="w-full")
        div(class="flex-row mb-4")
            div(class="col w-full md:w-1/2")
                label() {{ 'targetFolder' | translate }}
                div(class="input-group" class="w-full")
                    input-text(v-model="config.outputPath")

            div(class="col w-full md:w-1/2")
                label() {{ 'targetFilename' | translate }}
                div(class="input-group" class="w-full")
                    input-text(v-model="config.outputFilename")
                    
        div(class="flex-row")
            div(class="col w-full")
                label() {{ 'sourcePlaylist' | translate }}
                div(class="input-group" class="w-full")
                    input-text(v-model="config.m3uPath")