div(class="h-full")
    div(class="w-full flex")
        div(class="bg-gray-500 w-full p-4 font-bold text-white flex items-center")
            div()
                span(class="mr-2") 
                    font-awesome-icon(icon="couch")
                span() {{'applicationTitle' | translate }}
            span(class="ml-2 md:ml-auto font-normal text-xs") v.{{ version }}
            div(class="ml-auto block md:hidden")
                button(class="btn " @click="showMenu = !showMenu")
                    font-awesome-icon(icon="hamburger")


    
    div(class="w-full")
        div(class="menu" :class="{'open':showMenu}")
            div(class="menu-wrapper")
                main-menu()
    
    div(class="w-full")            
        slot()