div(class="flex w-full")
    table(class="w-full table-auto")
        tr
            th(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5") Id
            th(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5") Värden
            th(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5")

        tr(v-for="(fallback, index) in fallbacks" :key="index")
            td(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md leading-5") 
                input-text(v-model="fallback.key")
            td(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md leading-5") 
                fallback-values(:values="fallback.value")
            td(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md leading-5 text-right") 
                button(@click="deleteFallback(index)")
                    font-awesome-icon(icon="trash")