div(class="flex w-full")
    table(class="w-full table-auto border border-gray-300 bg-white")
        thead()
            tr(class="border-b border-gray-300 bg-gray-300")
                th(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md text-left leading-5") Id
                th(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md text-left leading-5") Värden
                th(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md text-left leading-5 text-right")
                    button(@click="createFallback")
                        font-awesome-icon(icon="plus")

        tbody(id="fallback_container" v-if="fallbacks.length > 0")
            tr(v-for="(fallback, index) in fallbacks" :key="uniqueId()")
                td(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md leading-5") 
                    input-text(v-model="fallback.key" :inline="true")
                td(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md leading-5") 
                    fallback-values(:values="fallback.value")
                td(class="px-4 py-2 whitespace-no-wrap border-b border-gray-300 text-md leading-5 text-right") 
                    button(@click="deleteFallback(index)")
                        font-awesome-icon(icon="trash")