div(class="modal")
    div(class="modal-backdrop" @click="ok")
    div(class="modal-wrapper w-11/12 md:w-6/12")
        div(class="modal-body")
            div(class="modal-header") {{ title }}

            div(class="modal-content")
                label() Lägg till exkluderad stream
                    div(class="input-group" class="w-full")
                        stream-picker(:placeholder="'Sök ström'" @onSelect="addItem")
            
                table(class="table-auto w-full")
                    thead
                        tr
                            th(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5") Stream-Id
                            th(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5")
                    tbody
                        table-empty-state(:title="'Inga streams tillagda'" :colspan="2" v-if="items.length === 0")
                        tr(v-for="(item, index) in items" :key="index")
                            td(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-left leading-5") {{ item }}
                            td(class="px-4 py-4 whitespace-no-wrap border-b border-gray-500 text-md text-right leading-5")
                                button(@click="removeItem(index)") 
                                    font-awesome-icon(icon="trash")
            
            div(class="modal-footer")
                button(class="rounded-md bg-gray-500 px-4 py-2" @click="ok") Ok