div(v-if="epg")
    div(class="w-full flex flex-wrap")
        div(class="w-full md:w-1/3 px-4 text-left")
            label() {{ 'activateCache' | translate }}
            div(class="input-group" class="w-full")

                input-checkbox(v-model="epg.cache.enabled")

        div(class="w-full md:w-1/3 px-4")
            label() {{ 'cacheLifespan' | translate }}
            div(class="input-group" class="w-full")
                input(class="border-2 p-2 rounded w-full" type="number" v-model="epg.cache.lifespan")

        div(class="w-full md:w-1/3 px-4")
            label() {{ 'cachePath' | translate }}
            div(class="input-group" class="w-full")
                input-text(v-model="epg.cache.path" :placeholder="'/sökväg/till/fil'" :usePlaceholderIfEmpty="true")
    

    table(class="w-full table-auto")
        tr(class="border-b border-gray-500")
            th(class="px-6 py-4 whitespace-no-wrap text-md text-left leading-5 hidden md:table-cell") Namn
            th(class="px-6 py-4 whitespace-no-wrap text-md text-left leading-5") Sökväg
            th(class="px-6 py-4 whitespace-no-wrap text-md text-left leading-5")
        
        table-empty-state(:title="'Inga programguider tillagda'" :colspan="3" v-if="epg.paths.length === 0")
        
        tr(class="border-b border-gray-500" v-for="(path, index) in epg.paths" :key="index" v-if="epg.paths.length > 0")
            td(class="px-6 py-4 whitespace-no-wrap text-md leading-5 hidden md:table-cell") {{ getEpgName(path)}}
            td(class="px-6 py-4 whitespace-no-wrap text-md leading-5") 
                input-text(v-model="epg.paths[index]")
            td(class="px-6 py-4 whitespace-no-wrap text-md leading-5 text-right") 
                button(@click="deletePath(index)")
                    font-awesome-icon(icon="trash")
        tr()
            td(class="x-6 py-4 whitespace-no-wrap hidden md:table-cell")
            td( class="px-6 py-4 whitespace-no-wrap text-md leading-5")
                input-text(v-model="newPath" :usePlaceholderIfEmpty="true" :placeholder="'EPG-länk'")
            td(class="px-6 py-4 whitespace-no-wrap text-md leading-5 text-right")
                button(@click="addPath()")
                    font-awesome-icon(icon="plus")