div(class="w-full")
    add-stream(@onAdd="addStream")

    table(class="table-auto w-full")
        tr
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") Id
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") Visningsnamn
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") Grupp
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") EPG-Id
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") Timeshift
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-right leading-5")
                button(@click="toggleFilter")
                    font-awesome-icon(icon="filter")

        tr(v-if="showFilter")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5") 
                input(class="border-2 p-2 rounded w-full" placeholder="Filtrera på id")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5")
                input(class="border-2 p-2 rounded w-full" placeholder="Filtrera på id")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5")
                input(class="border-2 p-2 rounded w-full" placeholder="Filtrera på id")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5")
                input(class="border-2 p-2 rounded w-full" placeholder="Filtrera på id")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-left leading-5")
                input(class="border-2 p-2 rounded w-full" placeholder="Filtrera på id")
            th(class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-sm text-right leading-5")
        
        tbody(id="stream_container")
            stream-list-row(v-for="(stream, index) in streams" :key="uniqueId()" :stream="stream" @onRemove="removeStream(index)")