div(class="w-full flex")
    div(class="rounded-md text-md" v-if="hasErrors") 
        div(class="flex items-center")
            span(class="bg-red-500 rounded-full text-white w-10 h-10 flex items-center justify-center")
                font-awesome-icon(icon="exclamation-triangle")
            span(class="ml-2") {{'widgetLastRunProblem' | translate}}

    div(class="rounded-md text-md flex items-center" v-if="noErrors") 
        span(class="bg-green-500 rounded-full text-white w-10 h-10 flex items-center justify-center")
            font-awesome-icon(icon="thumbs-up")
        span(class="ml-2") {{'widgetLastRunNoProblem' | translate}}

    div(class="w-1/3" v-if="log?.missingStreams.length > 0")
        p(class="font-bold") {{'widgetLastRunMissingChanels' | translate}}
        div(v-for="(item, index) in log?.missingStreams") {{ item }}

    div(class="w-1/3" v-if="log?.validationErrors.length > 0")
        p(class="font-bold") {{'widgetLastRunValidationErrors' | translate}}
        div(v-for="(item, index) in log?.validationErrors") {{ item }}

    div(class="w-1/3" v-if="log?.epgErrors.length > 0")
        p(class="font-bold") {{'widgetLastRunMissingEpg' | translate}}
        div(v-for="(item, index) in log?.epgErrors") {{ item }}