div()
    h3 Validering

    label() Aktivera validering
        input(type="checkbox" v-model="validation.enabled")

    label() Visa icke korrekta
        input(type="checkbox" v-model="validation.showInvalid")

    label() Valideringsmängd
        input(type="number" v-model="validation.minimumContentLength")
    
    label() Sökväg för cachefiler
        input(type="text")

    