div(class="flex")
    div(class="w-full")
        div(class="flex-row mb-4")
            div(class="col w-full md:w-1/2")
                label() {{ $filters.translate('targetFolder') }}
                div(class="input-group" class="w-full")
                    input-text(v-model:value="config.outputPath")

            div(class="col w-full md:w-1/2")
                label() {{ $filters.translate('targetFilename') }}
                div(class="input-group" class="w-full")
                    input-text(v-model:value="config.outputFilename")
                    
        div(class="flex-row")
            div(class="col w-full")
                label() {{ $filters.translate('sourcePlaylist') }}
                div(class="input-group" class="w-full")
                    input-text(v-model:value="config.m3uPath")